<%= form_for(@target) do |f| %>
    <% if @target.errors.any? %>
        <div class="well" id="error_explanation">
          <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

          <ul>
            <% @target.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
    Rooster should visit the domain
    <%= f.text_field :host %>
     at path
      <%= f.text_field :path %>
     every
      <%= f.number_field :interval, :min => 15, :value => 15, :step => 15, :style => "width: 10%;" %>
      minutes.
    </p>

    <div class="actions">
      <%= f.submit :class => "btn btn-large btn-danger" %>
    </div>
<% end %>
