

<p>
  <b>Host:</b>
  <%= @target.host %>
</p>

<p>
  <b>Path:</b>
  <%= @target.path %>
</p>

<p>
  <b>Interval:</b>
  <%= @target.interval %>
</p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
