<!DOCTYPE html>
<html>
<head>
  <title>Rooster</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Rooster", about_path, :class => 'brand' %></li>

          <% if user_signed_in? %>
              <li>
                <p class="navbar-text" style="font-size: 100%;">
                  Logged in as <strong><%= current_user.email %></strong>.
                </p>
              </li>
              <li><%= link_to "My Targets", targets_path %></li>
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li>
                <p class="navbar-text">
                  You are not logged in.
                </p>
              </li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
          <li><%= link_to "What is Rooster?", about_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="wrapper container-fluid">
  <% flash.each do |name, msg| %>
      <div id="<%= "flash_#{name}" %>" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      </div>
  <% end %>

  <%= yield %>
  <div class="push"></div>
</div>
<div class="footer">
  <br/>

  <p class="text-center" style="border-top-style: solid;">
    <br/>

  <div class="row-fluid">
    <div class="span3"></div>
    <%= link_to "About", about_path, :class => "span2 text-left" %>
    <%= link_to "Contact", contact_path, :class => "span2 text-center" %>
    <%= link_to "License", license_path, :class => "span2 text-right" %>
    <div class="span3"></div>
  </div>
  <div class="text-center">
    Rooster, by <%= link_to "Zach Cotter", "http://www.zachcotter.com" %>, is licensed under
    the <%= link_to "Creative Commons Attribution 3.0 Unported License", license_path %>
  </div>
  </p>
  <br/>
  <br/>
  <br/>
</div>
</body>
</html>
